body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10535_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10535 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:667px;
}
#u10536 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10537_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
}
#u10537 {
  position:absolute;
  left:21px;
  top:21px;
  width:373px;
  height:20px;
}
#u10538 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10539_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF9500;
}
#u10539 {
  position:absolute;
  left:21px;
  top:41px;
  width:373px;
  height:44px;
  font-size:14px;
  color:#FF9500;
}
#u10540 {
  position:absolute;
  left:2px;
  top:14px;
  width:369px;
  word-wrap:break-word;
}
#u10541_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:2px;
}
#u10541 {
  position:absolute;
  left:33px;
  top:79px;
  width:349px;
  height:1px;
}
#u10542 {
  position:absolute;
  left:2px;
  top:-8px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10543_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u10543 {
  position:absolute;
  left:33px;
  top:56px;
  width:16px;
  height:16px;
}
#u10544 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10545_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u10545 {
  position:absolute;
  left:54px;
  top:57px;
  width:46px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u10546 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u10547_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u10547 {
  position:absolute;
  left:70px;
  top:640px;
  width:140px;
  height:40px;
  font-size:12px;
}
#u10548 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u10549_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u10549 {
  position:absolute;
  left:210px;
  top:640px;
  width:140px;
  height:40px;
  font-size:12px;
}
#u10550 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u10551_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:491px;
}
#u10551 {
  position:absolute;
  left:21px;
  top:139px;
  width:373px;
  height:491px;
}
#u10552 {
  position:absolute;
  left:2px;
  top:238px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10553_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u10553 {
  position:absolute;
  left:21px;
  top:79px;
  width:373px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u10554 {
  position:absolute;
  left:2px;
  top:18px;
  width:369px;
  word-wrap:break-word;
}
#u10555_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u10555 {
  position:absolute;
  left:170px;
  top:180px;
  width:130px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u10556 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10557_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:21px;
}
#u10557 {
  position:absolute;
  left:271px;
  top:249px;
  width:111px;
  height:21px;
}
#u10558 {
  position:absolute;
  left:2px;
  top:2px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10559_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:21px;
}
#u10559 {
  position:absolute;
  left:225px;
  top:510px;
  width:135px;
  height:21px;
}
#u10560 {
  position:absolute;
  left:2px;
  top:2px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
