body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1155px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3807 {
  position:absolute;
  left:149px;
  top:110px;
  width:1011px;
  height:55px;
}
#u3808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1006px;
  height:50px;
}
#u3808 {
  position:absolute;
  left:0px;
  top:0px;
  width:1006px;
  height:50px;
}
#u3809 {
  position:absolute;
  left:2px;
  top:17px;
  width:1002px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#0099FF;
}
#u3810 {
  position:absolute;
  left:181px;
  top:131px;
  width:96px;
  height:15px;
  font-size:12px;
  color:#0099FF;
}
#u3811 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u3812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3812 {
  position:absolute;
  left:163px;
  top:80px;
  width:182px;
  height:20px;
}
#u3813 {
  position:absolute;
  left:2px;
  top:2px;
  width:182px;
  white-space:nowrap;
}
#u3814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1155px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(56, 153, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3814 {
  position:absolute;
  left:0px;
  top:25px;
  width:1155px;
  height:45px;
}
#u3815 {
  position:absolute;
  left:2px;
  top:14px;
  width:1151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:1341px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(41, 48, 55, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3816 {
  position:absolute;
  left:0px;
  top:70px;
  width:139px;
  height:1341px;
}
#u3817 {
  position:absolute;
  left:2px;
  top:662px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3818 {
  position:absolute;
  left:7px;
  top:39px;
  width:200px;
  height:21px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3819 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u3820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u3820 {
  position:absolute;
  left:1008px;
  top:37px;
  width:20px;
  height:22px;
}
#u3821 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u3822 {
  position:absolute;
  left:1033px;
  top:43px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u3823 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u3824 {
  position:absolute;
  left:1109px;
  top:43px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u3825 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u3826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u3826 {
  position:absolute;
  left:1094px;
  top:38px;
  width:15px;
  height:17px;
  color:#FFFFFF;
}
#u3827 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(56, 153, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u3828 {
  position:absolute;
  left:0px;
  top:190px;
  width:139px;
  height:26px;
  font-size:14px;
  color:#FFFFFF;
}
#u3829 {
  position:absolute;
  left:2px;
  top:5px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:22px;
}
#u3830 {
  position:absolute;
  left:15px;
  top:122px;
  width:21px;
  height:22px;
}
#u3831 {
  position:absolute;
  left:2px;
  top:3px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3832 {
  position:absolute;
  left:46px;
  top:122px;
  width:63px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3833 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u3834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u3834 {
  position:absolute;
  left:15px;
  top:90px;
  width:26px;
  height:22px;
}
#u3835 {
  position:absolute;
  left:2px;
  top:3px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3836 {
  position:absolute;
  left:46px;
  top:90px;
  width:63px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3837 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u3838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3838 {
  position:absolute;
  left:46px;
  top:154px;
  width:63px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3839 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u3840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:22px;
}
#u3840 {
  position:absolute;
  left:15px;
  top:154px;
  width:21px;
  height:22px;
}
#u3841 {
  position:absolute;
  left:2px;
  top:3px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3842 {
  position:absolute;
  left:46px;
  top:216px;
  width:63px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3843 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u3844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:22px;
}
#u3844 {
  position:absolute;
  left:15px;
  top:216px;
  width:21px;
  height:22px;
}
#u3845 {
  position:absolute;
  left:2px;
  top:3px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3846 {
  position:absolute;
  left:46px;
  top:248px;
  width:63px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3847 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u3848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:22px;
}
#u3848 {
  position:absolute;
  left:15px;
  top:248px;
  width:21px;
  height:22px;
}
#u3849 {
  position:absolute;
  left:2px;
  top:3px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3850 {
  position:absolute;
  left:25px;
  top:176px;
  width:111px;
  height:45px;
}
#u3850_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3851 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  color:#FFFFFF;
}
#u3852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3852 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3853 {
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u3854 {
  position:absolute;
  left:0px;
  top:20px;
  width:106px;
  height:20px;
  color:#FFFFFF;
}
#u3855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3855 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u3856 {
  position:absolute;
  left:3px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u3857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3857 {
  position:absolute;
  left:277px;
  top:126px;
  width:20px;
  height:20px;
}
#u3858 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u3859 {
  position:absolute;
  left:300px;
  top:131px;
  width:96px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u3860 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u3861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
}
#u3861 {
  position:absolute;
  left:158px;
  top:131px;
  width:13px;
  height:16px;
}
#u3862 {
  position:absolute;
  left:2px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3863_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:54px;
}
#u3863 {
  position:absolute;
  left:266px;
  top:110px;
  width:3px;
  height:51px;
}
#u3864 {
  position:absolute;
  left:2px;
  top:18px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3865_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:123px;
  height:6px;
}
#u3865 {
  position:absolute;
  left:149px;
  top:160px;
  width:120px;
  height:3px;
}
#u3866 {
  position:absolute;
  left:2px;
  top:-6px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3867_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:117px;
  height:6px;
}
#u3867 {
  position:absolute;
  left:266px;
  top:160px;
  width:114px;
  height:3px;
}
#u3868 {
  position:absolute;
  left:2px;
  top:-6px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3869 {
  position:absolute;
  left:149px;
  top:226px;
  width:995px;
  height:549px;
}
#u3870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:68px;
}
#u3870 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:68px;
}
#u3871 {
  position:absolute;
  left:2px;
  top:26px;
  width:51px;
  word-wrap:break-word;
}
#u3872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:68px;
}
#u3872 {
  position:absolute;
  left:55px;
  top:0px;
  width:89px;
  height:68px;
}
#u3873 {
  position:absolute;
  left:2px;
  top:26px;
  width:85px;
  word-wrap:break-word;
}
#u3874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:68px;
}
#u3874 {
  position:absolute;
  left:144px;
  top:0px;
  width:142px;
  height:68px;
}
#u3875 {
  position:absolute;
  left:2px;
  top:26px;
  width:138px;
  word-wrap:break-word;
}
#u3876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:68px;
}
#u3876 {
  position:absolute;
  left:286px;
  top:0px;
  width:114px;
  height:68px;
}
#u3877 {
  position:absolute;
  left:2px;
  top:26px;
  width:110px;
  word-wrap:break-word;
}
#u3878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u3878 {
  position:absolute;
  left:400px;
  top:0px;
  width:110px;
  height:68px;
}
#u3879 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u3880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:68px;
}
#u3880 {
  position:absolute;
  left:510px;
  top:0px;
  width:101px;
  height:68px;
}
#u3881 {
  position:absolute;
  left:2px;
  top:26px;
  width:97px;
  word-wrap:break-word;
}
#u3882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:68px;
}
#u3882 {
  position:absolute;
  left:611px;
  top:0px;
  width:159px;
  height:68px;
}
#u3883 {
  position:absolute;
  left:2px;
  top:26px;
  width:155px;
  word-wrap:break-word;
}
#u3884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:68px;
}
#u3884 {
  position:absolute;
  left:770px;
  top:0px;
  width:75px;
  height:68px;
}
#u3885 {
  position:absolute;
  left:2px;
  top:26px;
  width:71px;
  word-wrap:break-word;
}
#u3886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:68px;
}
#u3886 {
  position:absolute;
  left:845px;
  top:0px;
  width:145px;
  height:68px;
}
#u3887 {
  position:absolute;
  left:2px;
  top:26px;
  width:141px;
  word-wrap:break-word;
}
#u3888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:68px;
}
#u3888 {
  position:absolute;
  left:0px;
  top:68px;
  width:55px;
  height:68px;
}
#u3889 {
  position:absolute;
  left:2px;
  top:26px;
  width:51px;
  word-wrap:break-word;
}
#u3890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:68px;
}
#u3890 {
  position:absolute;
  left:55px;
  top:68px;
  width:89px;
  height:68px;
  color:#999999;
}
#u3891 {
  position:absolute;
  left:2px;
  top:18px;
  width:85px;
  word-wrap:break-word;
}
#u3892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:68px;
}
#u3892 {
  position:absolute;
  left:144px;
  top:68px;
  width:142px;
  height:68px;
  color:#999999;
}
#u3893 {
  position:absolute;
  left:2px;
  top:18px;
  width:138px;
  word-wrap:break-word;
}
#u3894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:68px;
}
#u3894 {
  position:absolute;
  left:286px;
  top:68px;
  width:114px;
  height:68px;
  color:#999999;
}
#u3895 {
  position:absolute;
  left:2px;
  top:26px;
  width:110px;
  word-wrap:break-word;
}
#u3896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u3896 {
  position:absolute;
  left:400px;
  top:68px;
  width:110px;
  height:68px;
  font-size:14px;
  color:#AEAEAE;
}
#u3897 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u3898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:68px;
}
#u3898 {
  position:absolute;
  left:510px;
  top:68px;
  width:101px;
  height:68px;
  font-size:14px;
  color:#AEAEAE;
}
#u3899 {
  position:absolute;
  left:2px;
  top:26px;
  width:97px;
  word-wrap:break-word;
}
#u3900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:68px;
}
#u3900 {
  position:absolute;
  left:611px;
  top:68px;
  width:159px;
  height:68px;
  font-size:14px;
  color:#AEAEAE;
}
#u3901 {
  position:absolute;
  left:2px;
  top:26px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:68px;
}
#u3902 {
  position:absolute;
  left:770px;
  top:68px;
  width:75px;
  height:68px;
  font-size:14px;
  color:#AEAEAE;
}
#u3903 {
  position:absolute;
  left:2px;
  top:26px;
  width:71px;
  word-wrap:break-word;
}
#u3904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:68px;
}
#u3904 {
  position:absolute;
  left:845px;
  top:68px;
  width:145px;
  height:68px;
  font-size:14px;
  color:#AEAEAE;
}
#u3905 {
  position:absolute;
  left:2px;
  top:26px;
  width:141px;
  word-wrap:break-word;
}
#u3906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:68px;
}
#u3906 {
  position:absolute;
  left:0px;
  top:136px;
  width:55px;
  height:68px;
}
#u3907 {
  position:absolute;
  left:2px;
  top:26px;
  width:51px;
  word-wrap:break-word;
}
#u3908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:68px;
}
#u3908 {
  position:absolute;
  left:55px;
  top:136px;
  width:89px;
  height:68px;
  color:#999999;
}
#u3909 {
  position:absolute;
  left:2px;
  top:26px;
  width:85px;
  word-wrap:break-word;
}
#u3910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:68px;
}
#u3910 {
  position:absolute;
  left:144px;
  top:136px;
  width:142px;
  height:68px;
  color:#999999;
}
#u3911 {
  position:absolute;
  left:2px;
  top:18px;
  width:138px;
  word-wrap:break-word;
}
#u3912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:68px;
}
#u3912 {
  position:absolute;
  left:286px;
  top:136px;
  width:114px;
  height:68px;
  color:#999999;
}
#u3913 {
  position:absolute;
  left:2px;
  top:26px;
  width:110px;
  word-wrap:break-word;
}
#u3914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u3914 {
  position:absolute;
  left:400px;
  top:136px;
  width:110px;
  height:68px;
  font-size:14px;
  color:#AEAEAE;
}
#u3915 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u3916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:68px;
}
#u3916 {
  position:absolute;
  left:510px;
  top:136px;
  width:101px;
  height:68px;
  font-size:14px;
  color:#AEAEAE;
}
#u3917 {
  position:absolute;
  left:2px;
  top:26px;
  width:97px;
  word-wrap:break-word;
}
#u3918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:68px;
}
#u3918 {
  position:absolute;
  left:611px;
  top:136px;
  width:159px;
  height:68px;
  font-size:14px;
  color:#AEAEAE;
}
#u3919 {
  position:absolute;
  left:2px;
  top:26px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:68px;
}
#u3920 {
  position:absolute;
  left:770px;
  top:136px;
  width:75px;
  height:68px;
  font-size:14px;
  color:#AEAEAE;
}
#u3921 {
  position:absolute;
  left:2px;
  top:26px;
  width:71px;
  word-wrap:break-word;
}
#u3922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:68px;
}
#u3922 {
  position:absolute;
  left:845px;
  top:136px;
  width:145px;
  height:68px;
  font-size:14px;
  color:#AEAEAE;
}
#u3923 {
  position:absolute;
  left:2px;
  top:26px;
  width:141px;
  word-wrap:break-word;
}
#u3924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:68px;
}
#u3924 {
  position:absolute;
  left:0px;
  top:204px;
  width:55px;
  height:68px;
}
#u3925 {
  position:absolute;
  left:2px;
  top:26px;
  width:51px;
  word-wrap:break-word;
}
#u3926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:68px;
}
#u3926 {
  position:absolute;
  left:55px;
  top:204px;
  width:89px;
  height:68px;
  color:#999999;
}
#u3927 {
  position:absolute;
  left:2px;
  top:26px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:68px;
}
#u3928 {
  position:absolute;
  left:144px;
  top:204px;
  width:142px;
  height:68px;
  color:#999999;
}
#u3929 {
  position:absolute;
  left:2px;
  top:26px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:68px;
}
#u3930 {
  position:absolute;
  left:286px;
  top:204px;
  width:114px;
  height:68px;
  color:#999999;
}
#u3931 {
  position:absolute;
  left:2px;
  top:26px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u3932 {
  position:absolute;
  left:400px;
  top:204px;
  width:110px;
  height:68px;
  font-size:14px;
  color:#AEAEAE;
}
#u3933 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:68px;
}
#u3934 {
  position:absolute;
  left:510px;
  top:204px;
  width:101px;
  height:68px;
  font-size:14px;
  color:#AEAEAE;
}
#u3935 {
  position:absolute;
  left:2px;
  top:26px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:68px;
}
#u3936 {
  position:absolute;
  left:611px;
  top:204px;
  width:159px;
  height:68px;
  font-size:14px;
  color:#AEAEAE;
}
#u3937 {
  position:absolute;
  left:2px;
  top:26px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:68px;
}
#u3938 {
  position:absolute;
  left:770px;
  top:204px;
  width:75px;
  height:68px;
  font-size:14px;
  color:#AEAEAE;
}
#u3939 {
  position:absolute;
  left:2px;
  top:26px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:68px;
}
#u3940 {
  position:absolute;
  left:845px;
  top:204px;
  width:145px;
  height:68px;
  font-size:14px;
  color:#AEAEAE;
}
#u3941 {
  position:absolute;
  left:2px;
  top:26px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:68px;
}
#u3942 {
  position:absolute;
  left:0px;
  top:272px;
  width:55px;
  height:68px;
}
#u3943 {
  position:absolute;
  left:2px;
  top:26px;
  width:51px;
  word-wrap:break-word;
}
#u3944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:68px;
}
#u3944 {
  position:absolute;
  left:55px;
  top:272px;
  width:89px;
  height:68px;
  color:#999999;
}
#u3945 {
  position:absolute;
  left:2px;
  top:26px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:68px;
}
#u3946 {
  position:absolute;
  left:144px;
  top:272px;
  width:142px;
  height:68px;
  color:#999999;
}
#u3947 {
  position:absolute;
  left:2px;
  top:26px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:68px;
}
#u3948 {
  position:absolute;
  left:286px;
  top:272px;
  width:114px;
  height:68px;
  color:#999999;
}
#u3949 {
  position:absolute;
  left:2px;
  top:26px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u3950 {
  position:absolute;
  left:400px;
  top:272px;
  width:110px;
  height:68px;
  font-size:14px;
  color:#AEAEAE;
}
#u3951 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:68px;
}
#u3952 {
  position:absolute;
  left:510px;
  top:272px;
  width:101px;
  height:68px;
  font-size:14px;
  color:#AEAEAE;
}
#u3953 {
  position:absolute;
  left:2px;
  top:26px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:68px;
}
#u3954 {
  position:absolute;
  left:611px;
  top:272px;
  width:159px;
  height:68px;
  font-size:14px;
  color:#AEAEAE;
}
#u3955 {
  position:absolute;
  left:2px;
  top:26px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:68px;
}
#u3956 {
  position:absolute;
  left:770px;
  top:272px;
  width:75px;
  height:68px;
  font-size:14px;
  color:#AEAEAE;
}
#u3957 {
  position:absolute;
  left:2px;
  top:26px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:68px;
}
#u3958 {
  position:absolute;
  left:845px;
  top:272px;
  width:145px;
  height:68px;
  font-size:14px;
  color:#AEAEAE;
}
#u3959 {
  position:absolute;
  left:2px;
  top:26px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:68px;
}
#u3960 {
  position:absolute;
  left:0px;
  top:340px;
  width:55px;
  height:68px;
}
#u3961 {
  position:absolute;
  left:2px;
  top:26px;
  width:51px;
  word-wrap:break-word;
}
#u3962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:68px;
}
#u3962 {
  position:absolute;
  left:55px;
  top:340px;
  width:89px;
  height:68px;
  color:#999999;
}
#u3963 {
  position:absolute;
  left:2px;
  top:26px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:68px;
}
#u3964 {
  position:absolute;
  left:144px;
  top:340px;
  width:142px;
  height:68px;
  color:#999999;
}
#u3965 {
  position:absolute;
  left:2px;
  top:26px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:68px;
}
#u3966 {
  position:absolute;
  left:286px;
  top:340px;
  width:114px;
  height:68px;
  color:#999999;
}
#u3967 {
  position:absolute;
  left:2px;
  top:26px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u3968 {
  position:absolute;
  left:400px;
  top:340px;
  width:110px;
  height:68px;
  font-size:14px;
  color:#AEAEAE;
}
#u3969 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:68px;
}
#u3970 {
  position:absolute;
  left:510px;
  top:340px;
  width:101px;
  height:68px;
  font-size:14px;
  color:#AEAEAE;
}
#u3971 {
  position:absolute;
  left:2px;
  top:26px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:68px;
}
#u3972 {
  position:absolute;
  left:611px;
  top:340px;
  width:159px;
  height:68px;
  font-size:14px;
  color:#AEAEAE;
}
#u3973 {
  position:absolute;
  left:2px;
  top:26px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:68px;
}
#u3974 {
  position:absolute;
  left:770px;
  top:340px;
  width:75px;
  height:68px;
  font-size:14px;
  color:#AEAEAE;
}
#u3975 {
  position:absolute;
  left:2px;
  top:26px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:68px;
}
#u3976 {
  position:absolute;
  left:845px;
  top:340px;
  width:145px;
  height:68px;
  font-size:14px;
  color:#AEAEAE;
}
#u3977 {
  position:absolute;
  left:2px;
  top:26px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:68px;
}
#u3978 {
  position:absolute;
  left:0px;
  top:408px;
  width:55px;
  height:68px;
}
#u3979 {
  position:absolute;
  left:2px;
  top:26px;
  width:51px;
  word-wrap:break-word;
}
#u3980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:68px;
}
#u3980 {
  position:absolute;
  left:55px;
  top:408px;
  width:89px;
  height:68px;
  color:#999999;
}
#u3981 {
  position:absolute;
  left:2px;
  top:26px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:68px;
}
#u3982 {
  position:absolute;
  left:144px;
  top:408px;
  width:142px;
  height:68px;
  color:#999999;
}
#u3983 {
  position:absolute;
  left:2px;
  top:26px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:68px;
}
#u3984 {
  position:absolute;
  left:286px;
  top:408px;
  width:114px;
  height:68px;
  color:#999999;
}
#u3985 {
  position:absolute;
  left:2px;
  top:26px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u3986 {
  position:absolute;
  left:400px;
  top:408px;
  width:110px;
  height:68px;
  font-size:14px;
  color:#AEAEAE;
}
#u3987 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:68px;
}
#u3988 {
  position:absolute;
  left:510px;
  top:408px;
  width:101px;
  height:68px;
  font-size:14px;
  color:#AEAEAE;
}
#u3989 {
  position:absolute;
  left:2px;
  top:26px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:68px;
}
#u3990 {
  position:absolute;
  left:611px;
  top:408px;
  width:159px;
  height:68px;
  font-size:14px;
  color:#AEAEAE;
}
#u3991 {
  position:absolute;
  left:2px;
  top:26px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:68px;
}
#u3992 {
  position:absolute;
  left:770px;
  top:408px;
  width:75px;
  height:68px;
  font-size:14px;
  color:#AEAEAE;
}
#u3993 {
  position:absolute;
  left:2px;
  top:26px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:68px;
}
#u3994 {
  position:absolute;
  left:845px;
  top:408px;
  width:145px;
  height:68px;
  font-size:14px;
  color:#AEAEAE;
}
#u3995 {
  position:absolute;
  left:2px;
  top:26px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:68px;
}
#u3996 {
  position:absolute;
  left:0px;
  top:476px;
  width:55px;
  height:68px;
}
#u3997 {
  position:absolute;
  left:2px;
  top:26px;
  width:51px;
  word-wrap:break-word;
}
#u3998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:68px;
}
#u3998 {
  position:absolute;
  left:55px;
  top:476px;
  width:89px;
  height:68px;
  color:#999999;
}
#u3999 {
  position:absolute;
  left:2px;
  top:26px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:68px;
}
#u4000 {
  position:absolute;
  left:144px;
  top:476px;
  width:142px;
  height:68px;
  color:#999999;
}
#u4001 {
  position:absolute;
  left:2px;
  top:26px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:68px;
}
#u4002 {
  position:absolute;
  left:286px;
  top:476px;
  width:114px;
  height:68px;
  color:#999999;
}
#u4003 {
  position:absolute;
  left:2px;
  top:26px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u4004 {
  position:absolute;
  left:400px;
  top:476px;
  width:110px;
  height:68px;
  font-size:14px;
  color:#AEAEAE;
}
#u4005 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:68px;
}
#u4006 {
  position:absolute;
  left:510px;
  top:476px;
  width:101px;
  height:68px;
  font-size:14px;
  color:#AEAEAE;
}
#u4007 {
  position:absolute;
  left:2px;
  top:26px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:68px;
}
#u4008 {
  position:absolute;
  left:611px;
  top:476px;
  width:159px;
  height:68px;
  font-size:14px;
  color:#AEAEAE;
}
#u4009 {
  position:absolute;
  left:2px;
  top:26px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:68px;
}
#u4010 {
  position:absolute;
  left:770px;
  top:476px;
  width:75px;
  height:68px;
  font-size:14px;
  color:#AEAEAE;
}
#u4011 {
  position:absolute;
  left:2px;
  top:26px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:68px;
}
#u4012 {
  position:absolute;
  left:845px;
  top:476px;
  width:145px;
  height:68px;
  font-size:14px;
  color:#AEAEAE;
}
#u4013 {
  position:absolute;
  left:2px;
  top:26px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u4014 {
  position:absolute;
  left:149px;
  top:170px;
  width:84px;
  height:38px;
  text-align:left;
}
#u4015 {
  position:absolute;
  left:2px;
  top:11px;
  width:80px;
  word-wrap:break-word;
}
#u4016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u4016 {
  position:absolute;
  left:233px;
  top:170px;
  width:111px;
  height:38px;
  color:#666666;
  text-align:left;
}
#u4017 {
  position:absolute;
  left:2px;
  top:11px;
  width:107px;
  word-wrap:break-word;
}
#u4018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4018 {
  position:absolute;
  left:354px;
  top:170px;
  width:85px;
  height:38px;
  text-align:right;
}
#u4019 {
  position:absolute;
  left:2px;
  top:11px;
  width:81px;
  word-wrap:break-word;
}
#u4020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u4020 {
  position:absolute;
  left:439px;
  top:170px;
  width:113px;
  height:38px;
  color:#666666;
  text-align:left;
}
#u4021 {
  position:absolute;
  left:2px;
  top:11px;
  width:109px;
  word-wrap:break-word;
}
#u4022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4022 {
  position:absolute;
  left:552px;
  top:170px;
  width:102px;
  height:38px;
  text-align:right;
}
#u4023 {
  position:absolute;
  left:2px;
  top:11px;
  width:98px;
  word-wrap:break-word;
}
#u4024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u4024 {
  position:absolute;
  left:654px;
  top:170px;
  width:110px;
  height:38px;
  color:#666666;
  text-align:left;
}
#u4025 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u4026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u4026 {
  position:absolute;
  left:854px;
  top:170px;
  width:110px;
  height:38px;
  color:#666666;
  text-align:left;
}
#u4027 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u4028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4028 {
  position:absolute;
  left:774px;
  top:170px;
  width:80px;
  height:38px;
  text-align:right;
}
#u4029 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u4030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4030 {
  position:absolute;
  left:980px;
  top:179px;
  width:20px;
  height:20px;
}
#u4031 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u4032 {
  position:absolute;
  left:1003px;
  top:182px;
  width:43px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u4033 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u4034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4034 {
  position:absolute;
  left:1073px;
  top:180px;
  width:20px;
  height:20px;
}
#u4035 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u4036 {
  position:absolute;
  left:1096px;
  top:183px;
  width:43px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u4037 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u4038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4038 {
  position:absolute;
  left:780px;
  top:312px;
  width:52px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4039 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u4040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4040 {
  position:absolute;
  left:850px;
  top:312px;
  width:52px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4041 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u4042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4042 {
  position:absolute;
  left:780px;
  top:380px;
  width:52px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4043 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u4044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4044 {
  position:absolute;
  left:850px;
  top:380px;
  width:52px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4045 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u4046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4046 {
  position:absolute;
  left:780px;
  top:442px;
  width:52px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4047 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u4048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4048 {
  position:absolute;
  left:850px;
  top:442px;
  width:52px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4049 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u4050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4050 {
  position:absolute;
  left:780px;
  top:512px;
  width:52px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4051 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u4052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4052 {
  position:absolute;
  left:850px;
  top:512px;
  width:52px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4053 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u4054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4054 {
  position:absolute;
  left:780px;
  top:582px;
  width:52px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4055 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u4056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4056 {
  position:absolute;
  left:850px;
  top:582px;
  width:52px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4057 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u4058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4058 {
  position:absolute;
  left:780px;
  top:650px;
  width:52px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4059 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u4060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4060 {
  position:absolute;
  left:850px;
  top:650px;
  width:52px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4061 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u4062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4062 {
  position:absolute;
  left:780px;
  top:722px;
  width:52px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4063 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u4064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4064 {
  position:absolute;
  left:850px;
  top:722px;
  width:52px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4065 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
