body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:396px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12622_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12622 {
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:667px;
}
#u12623 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12624_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
}
#u12624 {
  position:absolute;
  left:21px;
  top:21px;
  width:373px;
  height:20px;
}
#u12625 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12626_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u12626 {
  position:absolute;
  left:21px;
  top:41px;
  width:373px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u12627 {
  position:absolute;
  left:2px;
  top:12px;
  width:369px;
  word-wrap:break-word;
}
#u12628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:2px;
}
#u12628 {
  position:absolute;
  left:33px;
  top:79px;
  width:349px;
  height:1px;
}
#u12629 {
  position:absolute;
  left:2px;
  top:-8px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12630_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u12630 {
  position:absolute;
  left:33px;
  top:56px;
  width:16px;
  height:16px;
}
#u12631 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12632 {
  position:absolute;
  left:30px;
  top:92px;
  width:360px;
  height:85px;
}
#u12633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:60px;
}
#u12633 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:60px;
}
#u12634 {
  position:absolute;
  left:2px;
  top:22px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:60px;
}
#u12635 {
  position:absolute;
  left:89px;
  top:0px;
  width:87px;
  height:60px;
}
#u12636 {
  position:absolute;
  left:2px;
  top:22px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:60px;
}
#u12637 {
  position:absolute;
  left:176px;
  top:0px;
  width:91px;
  height:60px;
}
#u12638 {
  position:absolute;
  left:2px;
  top:22px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:60px;
}
#u12639 {
  position:absolute;
  left:267px;
  top:0px;
  width:88px;
  height:60px;
}
#u12640 {
  position:absolute;
  left:2px;
  top:22px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
}
#u12641 {
  position:absolute;
  left:0px;
  top:60px;
  width:89px;
  height:20px;
  font-size:11px;
  color:#999999;
}
#u12642 {
  position:absolute;
  left:2px;
  top:4px;
  width:85px;
  word-wrap:break-word;
}
#u12643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:20px;
}
#u12643 {
  position:absolute;
  left:89px;
  top:60px;
  width:87px;
  height:20px;
  font-size:11px;
  color:#999999;
}
#u12644 {
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u12645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u12645 {
  position:absolute;
  left:176px;
  top:60px;
  width:91px;
  height:20px;
  font-size:11px;
  color:#999999;
}
#u12646 {
  position:absolute;
  left:2px;
  top:4px;
  width:87px;
  word-wrap:break-word;
}
#u12647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:20px;
}
#u12647 {
  position:absolute;
  left:267px;
  top:60px;
  width:88px;
  height:20px;
  font-size:11px;
  color:#999999;
}
#u12648 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u12649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u12649 {
  position:absolute;
  left:58px;
  top:110px;
  width:32px;
  height:32px;
}
#u12650 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u12651 {
  position:absolute;
  left:148px;
  top:110px;
  width:32px;
  height:32px;
}
#u12652 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u12653 {
  position:absolute;
  left:238px;
  top:110px;
  width:32px;
  height:32px;
}
#u12654 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u12655 {
  position:absolute;
  left:328px;
  top:110px;
  width:32px;
  height:32px;
}
#u12656 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12657 {
  position:absolute;
  left:21px;
  top:638px;
  width:379px;
  height:54px;
}
#u12658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:29px;
}
#u12658 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:29px;
  color:#999999;
}
#u12659 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:29px;
}
#u12660 {
  position:absolute;
  left:94px;
  top:0px;
  width:93px;
  height:29px;
  color:#999999;
}
#u12661 {
  position:absolute;
  left:2px;
  top:6px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:29px;
}
#u12662 {
  position:absolute;
  left:187px;
  top:0px;
  width:94px;
  height:29px;
  color:#999999;
}
#u12663 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:29px;
}
#u12664 {
  position:absolute;
  left:281px;
  top:0px;
  width:93px;
  height:29px;
  color:#999999;
}
#u12665 {
  position:absolute;
  left:2px;
  top:6px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u12666 {
  position:absolute;
  left:0px;
  top:29px;
  width:94px;
  height:20px;
  font-size:12px;
  color:#999999;
}
#u12667 {
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  word-wrap:break-word;
}
#u12668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
}
#u12668 {
  position:absolute;
  left:94px;
  top:29px;
  width:93px;
  height:20px;
  font-size:12px;
  color:#999999;
}
#u12669 {
  position:absolute;
  left:2px;
  top:2px;
  width:89px;
  word-wrap:break-word;
}
#u12670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u12670 {
  position:absolute;
  left:187px;
  top:29px;
  width:94px;
  height:20px;
  font-size:12px;
  color:#999999;
}
#u12671 {
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  word-wrap:break-word;
}
#u12672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
}
#u12672 {
  position:absolute;
  left:281px;
  top:29px;
  width:93px;
  height:20px;
  font-size:12px;
  color:#999999;
}
#u12673 {
  position:absolute;
  left:2px;
  top:2px;
  width:89px;
  word-wrap:break-word;
}
#u12674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u12674 {
  position:absolute;
  left:55px;
  top:643px;
  width:25px;
  height:25px;
}
#u12675 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u12676 {
  position:absolute;
  left:147px;
  top:640px;
  width:32px;
  height:32px;
}
#u12677 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:28px;
}
#u12678 {
  position:absolute;
  left:238px;
  top:640px;
  width:32px;
  height:28px;
}
#u12679 {
  position:absolute;
  left:2px;
  top:6px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u12680 {
  position:absolute;
  left:336px;
  top:643px;
  width:25px;
  height:25px;
}
#u12681 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u12682 {
  position:absolute;
  left:22px;
  top:637px;
  width:374px;
  height:1px;
}
#u12683 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12684 {
  position:absolute;
  left:21px;
  top:638px;
  width:93px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12685 {
  position:absolute;
  left:114px;
  top:638px;
  width:93px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12686 {
  position:absolute;
  left:207px;
  top:638px;
  width:96px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12687 {
  position:absolute;
  left:303px;
  top:638px;
  width:93px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:210px;
}
#u12688 {
  position:absolute;
  left:32px;
  top:360px;
  width:352px;
  height:210px;
}
#u12689 {
  position:absolute;
  left:2px;
  top:97px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:120px;
}
#u12690 {
  position:absolute;
  left:29px;
  top:210px;
  width:353px;
  height:120px;
}
#u12691 {
  position:absolute;
  left:2px;
  top:52px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
