body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1666px;
}
#u166 {
  position:absolute;
  left:-300px;
  top:0px;
  width:1920px;
  height:1666px;
}
#u167 {
  position:absolute;
  left:2px;
  top:825px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168 {
  position:absolute;
  left:90px;
  top:135px;
  width:212px;
  height:95px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u169 {
  position:absolute;
  left:321px;
  top:135px;
  width:212px;
  height:95px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u170 {
  position:absolute;
  left:554px;
  top:135px;
  width:212px;
  height:95px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u171 {
  position:absolute;
  left:787px;
  top:135px;
  width:212px;
  height:95px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u172 {
  position:absolute;
  left:1018px;
  top:135px;
  width:212px;
  height:95px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u173 {
  position:absolute;
  left:90px;
  top:250px;
  width:212px;
  height:95px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u174 {
  position:absolute;
  left:321px;
  top:250px;
  width:212px;
  height:95px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u175 {
  position:absolute;
  left:90px;
  top:475px;
  width:180px;
  height:130px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u176 {
  position:absolute;
  left:290px;
  top:475px;
  width:180px;
  height:130px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u177 {
  position:absolute;
  left:490px;
  top:475px;
  width:180px;
  height:130px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u178 {
  position:absolute;
  left:690px;
  top:475px;
  width:180px;
  height:130px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u179 {
  position:absolute;
  left:71px;
  top:1000px;
  width:819px;
  height:400px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:36px;
}
#u180 {
  position:absolute;
  left:82px;
  top:70px;
  width:152px;
  height:36px;
}
#u181 {
  position:absolute;
  left:2px;
  top:10px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#87879D;
}
#u182 {
  position:absolute;
  left:90px;
  top:78px;
  width:170px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#87879D;
}
#u183 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
