body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12938 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u12939 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:32px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12940 {
  position:absolute;
  left:1px;
  top:28px;
  width:374px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12941 {
  position:absolute;
  left:2px;
  top:8px;
  width:370px;
  word-wrap:break-word;
}
#u12942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
}
#u12942 {
  position:absolute;
  left:15px;
  top:126px;
  width:126px;
  height:36px;
}
#u12943 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:36px;
}
#u12944 {
  position:absolute;
  left:335px;
  top:102px;
  width:26px;
  height:36px;
}
#u12945 {
  position:absolute;
  left:2px;
  top:10px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12946 {
  position:absolute;
  left:1px;
  top:28px;
  width:62px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:20px;
}
#u12947 {
  position:absolute;
  left:2px;
  top:3px;
  width:373px;
  height:20px;
}
#u12948 {
  position:absolute;
  left:2px;
  top:2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:33px;
}
#u12949 {
  position:absolute;
  left:8px;
  top:28px;
  width:31px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12950 {
  position:absolute;
  left:2px;
  top:6px;
  width:27px;
  word-wrap:break-word;
}
#u12951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u12951 {
  position:absolute;
  left:0px;
  top:316px;
  width:374px;
  height:1px;
}
#u12952 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12953 {
  position:absolute;
  left:15px;
  top:70px;
  width:349px;
  height:223px;
}
#u12954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u12954 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u12955 {
  position:absolute;
  left:2px;
  top:8px;
  width:92px;
  word-wrap:break-word;
}
#u12956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:30px;
}
#u12956 {
  position:absolute;
  left:96px;
  top:0px;
  width:248px;
  height:30px;
  font-size:12px;
  text-align:right;
}
#u12957 {
  position:absolute;
  left:2px;
  top:8px;
  width:244px;
  word-wrap:break-word;
}
#u12958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u12958 {
  position:absolute;
  left:0px;
  top:30px;
  width:96px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u12959 {
  position:absolute;
  left:2px;
  top:8px;
  width:92px;
  word-wrap:break-word;
}
#u12960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:30px;
}
#u12960 {
  position:absolute;
  left:96px;
  top:30px;
  width:248px;
  height:30px;
  font-size:12px;
  text-align:right;
}
#u12961 {
  position:absolute;
  left:2px;
  top:8px;
  width:244px;
  word-wrap:break-word;
}
#u12962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u12962 {
  position:absolute;
  left:0px;
  top:60px;
  width:96px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u12963 {
  position:absolute;
  left:2px;
  top:8px;
  width:92px;
  word-wrap:break-word;
}
#u12964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:30px;
}
#u12964 {
  position:absolute;
  left:96px;
  top:60px;
  width:248px;
  height:30px;
  font-size:12px;
  text-align:right;
}
#u12965 {
  position:absolute;
  left:2px;
  top:8px;
  width:244px;
  word-wrap:break-word;
}
#u12966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:32px;
}
#u12966 {
  position:absolute;
  left:0px;
  top:90px;
  width:96px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u12967 {
  position:absolute;
  left:2px;
  top:8px;
  width:92px;
  word-wrap:break-word;
}
#u12968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:32px;
}
#u12968 {
  position:absolute;
  left:96px;
  top:90px;
  width:248px;
  height:32px;
  font-size:12px;
  text-align:right;
}
#u12969 {
  position:absolute;
  left:2px;
  top:8px;
  width:244px;
  word-wrap:break-word;
}
#u12970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:32px;
}
#u12970 {
  position:absolute;
  left:0px;
  top:122px;
  width:96px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u12971 {
  position:absolute;
  left:2px;
  top:8px;
  width:92px;
  word-wrap:break-word;
}
#u12972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:32px;
}
#u12972 {
  position:absolute;
  left:96px;
  top:122px;
  width:248px;
  height:32px;
  font-size:12px;
  text-align:right;
}
#u12973 {
  position:absolute;
  left:2px;
  top:8px;
  width:244px;
  word-wrap:break-word;
}
#u12974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:32px;
}
#u12974 {
  position:absolute;
  left:0px;
  top:154px;
  width:96px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u12975 {
  position:absolute;
  left:2px;
  top:8px;
  width:92px;
  word-wrap:break-word;
}
#u12976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:32px;
}
#u12976 {
  position:absolute;
  left:96px;
  top:154px;
  width:248px;
  height:32px;
  font-size:12px;
  text-align:right;
}
#u12977 {
  position:absolute;
  left:2px;
  top:8px;
  width:244px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:32px;
}
#u12978 {
  position:absolute;
  left:0px;
  top:186px;
  width:96px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u12979 {
  position:absolute;
  left:2px;
  top:8px;
  width:92px;
  word-wrap:break-word;
}
#u12980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:32px;
}
#u12980 {
  position:absolute;
  left:96px;
  top:186px;
  width:248px;
  height:32px;
  font-size:12px;
  text-align:right;
}
#u12981 {
  position:absolute;
  left:2px;
  top:8px;
  width:244px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:87px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12982 {
  position:absolute;
  left:2px;
  top:320px;
  width:114px;
  height:87px;
}
#u12983 {
  position:absolute;
  left:2px;
  top:28px;
  width:110px;
  word-wrap:break-word;
}
#u12984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2px;
}
#u12984 {
  position:absolute;
  left:0px;
  top:411px;
  width:374px;
  height:1px;
}
#u12985 {
  position:absolute;
  left:2px;
  top:-8px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:25px;
}
#u12986 {
  position:absolute;
  left:330px;
  top:32px;
  width:28px;
  height:25px;
}
#u12987 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
