body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1150px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1155px;
  height:45px;
  background:inherit;
  background-color:rgba(51, 204, 255, 0.466666666666667);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033FF;
}
#u4812 {
  position:absolute;
  left:0px;
  top:25px;
  width:1155px;
  height:45px;
  color:#0033FF;
}
#u4813 {
  position:absolute;
  left:2px;
  top:14px;
  width:1151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:880px;
  background:inherit;
  background-color:rgba(51, 204, 255, 0.466666666666667);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4814 {
  position:absolute;
  left:0px;
  top:70px;
  width:130px;
  height:880px;
}
#u4815 {
  position:absolute;
  left:2px;
  top:432px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4816 {
  position:absolute;
  left:7px;
  top:39px;
  width:200px;
  height:21px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4817 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u4818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u4818 {
  position:absolute;
  left:1008px;
  top:37px;
  width:20px;
  height:22px;
}
#u4819 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u4820 {
  position:absolute;
  left:1033px;
  top:43px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u4821 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u4822 {
  position:absolute;
  left:1109px;
  top:43px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u4823 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u4824 {
  position:absolute;
  left:1094px;
  top:38px;
  width:15px;
  height:17px;
  color:#FFFFFF;
}
#u4825 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4826_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1018px;
  height:5px;
}
#u4826 {
  position:absolute;
  left:140px;
  top:101px;
  width:1015px;
  height:2px;
}
#u4827 {
  position:absolute;
  left:2px;
  top:-7px;
  width:1011px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u4828 {
  position:absolute;
  left:992px;
  top:70px;
  width:25px;
  height:22px;
}
#u4829 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4830 {
  position:absolute;
  left:1017px;
  top:70px;
  width:43px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4831 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u4832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4832 {
  position:absolute;
  left:1100px;
  top:70px;
  width:43px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4833 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u4834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:21px;
}
#u4834 {
  position:absolute;
  left:1081px;
  top:70px;
  width:19px;
  height:21px;
}
#u4835 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:22px;
}
#u4836 {
  position:absolute;
  left:14px;
  top:111px;
  width:21px;
  height:22px;
}
#u4837 {
  position:absolute;
  left:2px;
  top:3px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4838 {
  position:absolute;
  left:45px;
  top:111px;
  width:63px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4839 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u4840 {
  position:absolute;
  left:-5px;
  top:137px;
  width:137px;
  height:85px;
}
#u4840_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4841 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
  color:#FFFFFF;
}
#u4842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u4842 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u4842_img.selected {
}
#u4842.selected {
}
#u4843 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4844 {
  position:absolute;
  left:22px;
  top:0px;
  width:33px;
  height:20px;
}
#u4845 {
  position:absolute;
  left:3px;
  top:2px;
  width:28px;
  white-space:nowrap;
}
#u4841_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4846 {
  position:absolute;
  left:20px;
  top:20px;
  width:88px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u4847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4847 {
  position:absolute;
  left:22px;
  top:0px;
  width:66px;
  height:20px;
}
#u4848 {
  position:absolute;
  left:3px;
  top:2px;
  width:61px;
  white-space:nowrap;
}
#u4849 {
  position:absolute;
  left:20px;
  top:40px;
  width:112px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u4850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4850 {
  position:absolute;
  left:22px;
  top:0px;
  width:90px;
  height:20px;
}
#u4851 {
  position:absolute;
  left:3px;
  top:2px;
  width:85px;
  white-space:nowrap;
}
#u4852 {
  position:absolute;
  left:20px;
  top:60px;
  width:100px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u4853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4853 {
  position:absolute;
  left:22px;
  top:0px;
  width:78px;
  height:20px;
}
#u4854 {
  position:absolute;
  left:3px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u4855 {
  position:absolute;
  left:8px;
  top:217px;
  width:124px;
  height:25px;
}
#u4855_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4856 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:20px;
  color:#FFFFFF;
}
#u4857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4857 {
  position:absolute;
  left:22px;
  top:0px;
  width:97px;
  height:20px;
}
#u4858 {
  position:absolute;
  left:3px;
  top:2px;
  width:94px;
  white-space:nowrap;
}
#u4859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u4859 {
  position:absolute;
  left:14px;
  top:79px;
  width:26px;
  height:22px;
}
#u4860 {
  position:absolute;
  left:2px;
  top:3px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4861 {
  position:absolute;
  left:45px;
  top:79px;
  width:63px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4862 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u4863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4863 {
  position:absolute;
  left:140px;
  top:78px;
  width:208px;
  height:20px;
}
#u4864 {
  position:absolute;
  left:2px;
  top:2px;
  width:209px;
  white-space:nowrap;
}
#u4865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u4865 {
  position:absolute;
  left:527px;
  top:113px;
  width:121px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u4866 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u4867_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:633px;
  height:6px;
}
#u4867 {
  position:absolute;
  left:277px;
  top:151px;
  width:630px;
  height:3px;
}
#u4868 {
  position:absolute;
  left:2px;
  top:-6px;
  width:626px;
  visibility:hidden;
  white-space:nowrap;
}
#u4869_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:33px;
}
#u4869 {
  position:absolute;
  left:264px;
  top:141px;
  width:22px;
  height:23px;
}
#u4870 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  word-wrap:break-word;
}
#u4871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u4871 {
  position:absolute;
  left:264px;
  top:174px;
  width:28px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u4872 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u4873_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:33px;
}
#u4873 {
  position:absolute;
  left:576px;
  top:141px;
  width:22px;
  height:23px;
}
#u4874 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  word-wrap:break-word;
}
#u4875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u4875 {
  position:absolute;
  left:576px;
  top:174px;
  width:28px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u4876 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u4877_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:32px;
  height:33px;
}
#u4877 {
  position:absolute;
  left:893px;
  top:141px;
  width:22px;
  height:23px;
}
#u4878 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  word-wrap:break-word;
}
#u4879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u4879 {
  position:absolute;
  left:893px;
  top:174px;
  width:28px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u4880 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u4881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:21px;
  background:inherit;
  background-color:rgba(160, 231, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u4881 {
  position:absolute;
  left:157px;
  top:221px;
  width:850px;
  height:21px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u4882 {
  position:absolute;
  left:2px;
  top:2px;
  width:846px;
  word-wrap:break-word;
}
#u4883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:20px;
  background:inherit;
  background-color:rgba(160, 231, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u4883 {
  position:absolute;
  left:166px;
  top:426px;
  width:841px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u4884 {
  position:absolute;
  left:2px;
  top:2px;
  width:837px;
  word-wrap:break-word;
}
#u4885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
}
#u4885 {
  position:absolute;
  left:200px;
  top:456px;
  width:61px;
  height:1px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
}
#u4886 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u4887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:2px;
}
#u4887 {
  position:absolute;
  left:309px;
  top:471px;
  width:153px;
  height:1px;
  font-size:12px;
  color:#BCBCBC;
}
#u4888 {
  position:absolute;
  left:2px;
  top:-8px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
}
#u4889 {
  position:absolute;
  left:310px;
  top:450px;
  width:56px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
}
#u4890 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u4891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
}
#u4891 {
  position:absolute;
  left:584px;
  top:453px;
  width:49px;
  height:1px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
}
#u4892 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
}
#u4893 {
  position:absolute;
  left:644px;
  top:445px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
}
#u4894 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  visibility:hidden;
  white-space:nowrap;
}
#u4895 {
  position:absolute;
  left:664px;
  top:450px;
  width:153px;
  height:22px;
}
#u4895_input {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#BCBCBC;
}
#u4895_input:disabled {
  color:grayText;
}
#u4896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
}
#u4896 {
  position:absolute;
  left:196px;
  top:495px;
  width:100px;
  height:1px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
}
#u4897 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u4898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
}
#u4898 {
  position:absolute;
  left:279px;
  top:524px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
}
#u4899 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  visibility:hidden;
  white-space:nowrap;
}
#u4900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
}
#u4900 {
  position:absolute;
  left:196px;
  top:535px;
  width:100px;
  height:1px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
}
#u4901 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u4902 {
  position:absolute;
  left:314px;
  top:494px;
  width:153px;
  height:22px;
}
#u4902_input {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:22px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#BCBCBC;
}
#u4902_input:disabled {
  color:grayText;
}
#u4903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
}
#u4903 {
  position:absolute;
  left:584px;
  top:494px;
  width:61px;
  height:1px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
}
#u4904 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u4905 {
  position:absolute;
  left:664px;
  top:494px;
  width:153px;
  height:22px;
}
#u4905_input {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#BCBCBC;
}
#u4905_input:disabled {
  color:grayText;
}
#u4906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
}
#u4906 {
  position:absolute;
  left:584px;
  top:533px;
  width:73px;
  height:1px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
}
#u4907 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u4908 {
  position:absolute;
  left:963px;
  top:223px;
  width:32px;
  height:32px;
  color:#BCBCBC;
}
#u4909 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u4910 {
  position:absolute;
  left:969px;
  top:426px;
  width:32px;
  height:32px;
}
#u4911 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#BCBCBC;
}
#u4912 {
  position:absolute;
  left:584px;
  top:300px;
  width:62px;
  height:17px;
  font-size:11px;
  color:#BCBCBC;
}
#u4913 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  white-space:nowrap;
}
#u4914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#BCBCBC;
}
#u4914 {
  position:absolute;
  left:195px;
  top:261px;
  width:62px;
  height:17px;
  font-size:11px;
  color:#BCBCBC;
}
#u4915 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  white-space:nowrap;
}
#u4916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u4916 {
  position:absolute;
  left:267px;
  top:254px;
  width:250px;
  height:30px;
  font-size:11px;
  color:#BCBCBC;
  text-align:left;
}
#u4917 {
  position:absolute;
  left:2px;
  top:8px;
  width:246px;
  word-wrap:break-word;
}
#u4918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#BCBCBC;
}
#u4918 {
  position:absolute;
  left:195px;
  top:342px;
  width:62px;
  height:17px;
  font-size:11px;
  color:#BCBCBC;
}
#u4919 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  white-space:nowrap;
}
#u4920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:27px;
}
#u4920 {
  position:absolute;
  left:195px;
  top:298px;
  width:62px;
  height:17px;
  font-size:11px;
  color:#BCBCBC;
}
#u4921 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  white-space:nowrap;
}
#u4922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#BCBCBC;
  text-align:left;
}
#u4922 {
  position:absolute;
  left:584px;
  top:381px;
  width:73px;
  height:17px;
  font-size:11px;
  color:#BCBCBC;
  text-align:left;
}
#u4923 {
  position:absolute;
  left:2px;
  top:2px;
  width:69px;
  white-space:nowrap;
}
#u4924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#BCBCBC;
  text-align:left;
}
#u4924 {
  position:absolute;
  left:195px;
  top:381px;
  width:62px;
  height:17px;
  font-size:11px;
  color:#BCBCBC;
  text-align:left;
}
#u4925 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  white-space:nowrap;
}
#u4926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u4926 {
  position:absolute;
  left:267px;
  top:336px;
  width:250px;
  height:30px;
  font-size:11px;
  color:#BCBCBC;
  text-align:left;
}
#u4927 {
  position:absolute;
  left:2px;
  top:8px;
  width:246px;
  word-wrap:break-word;
}
#u4928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#BCBCBC;
}
#u4928 {
  position:absolute;
  left:584px;
  top:343px;
  width:50px;
  height:17px;
  font-size:11px;
  color:#BCBCBC;
}
#u4929 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  white-space:nowrap;
}
#u4930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u4930 {
  position:absolute;
  left:660px;
  top:336px;
  width:250px;
  height:30px;
  font-size:11px;
  color:#BCBCBC;
  text-align:left;
}
#u4931 {
  position:absolute;
  left:2px;
  top:8px;
  width:246px;
  word-wrap:break-word;
}
#u4932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u4932 {
  position:absolute;
  left:267px;
  top:294px;
  width:250px;
  height:30px;
  font-size:11px;
  color:#BCBCBC;
  text-align:left;
}
#u4933 {
  position:absolute;
  left:2px;
  top:8px;
  width:246px;
  word-wrap:break-word;
}
#u4934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u4934 {
  position:absolute;
  left:267px;
  top:377px;
  width:250px;
  height:30px;
  font-size:11px;
  color:#BCBCBC;
  text-align:left;
}
#u4935 {
  position:absolute;
  left:2px;
  top:8px;
  width:246px;
  word-wrap:break-word;
}
#u4936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u4936 {
  position:absolute;
  left:660px;
  top:294px;
  width:250px;
  height:30px;
  font-size:11px;
  color:#BCBCBC;
  text-align:left;
}
#u4937 {
  position:absolute;
  left:2px;
  top:8px;
  width:246px;
  word-wrap:break-word;
}
#u4938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u4938 {
  position:absolute;
  left:660px;
  top:377px;
  width:250px;
  height:30px;
  font-size:11px;
  color:#BCBCBC;
  text-align:left;
}
#u4939 {
  position:absolute;
  left:2px;
  top:8px;
  width:246px;
  word-wrap:break-word;
}
#u4940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u4940 {
  position:absolute;
  left:263px;
  top:406px;
  width:200px;
  height:1px;
  color:#BCBCBC;
}
#u4941 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u4942 {
  position:absolute;
  left:267px;
  top:365px;
  width:200px;
  height:1px;
  color:#BCBCBC;
}
#u4943 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u4944 {
  position:absolute;
  left:267px;
  top:323px;
  width:200px;
  height:1px;
  color:#BCBCBC;
}
#u4945 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u4946 {
  position:absolute;
  left:267px;
  top:283px;
  width:200px;
  height:1px;
  color:#BCBCBC;
}
#u4947 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u4948 {
  position:absolute;
  left:660px;
  top:325px;
  width:200px;
  height:1px;
  color:#BCBCBC;
}
#u4949 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u4950 {
  position:absolute;
  left:660px;
  top:406px;
  width:200px;
  height:1px;
  color:#BCBCBC;
}
#u4951 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u4952 {
  position:absolute;
  left:660px;
  top:365px;
  width:200px;
  height:1px;
  color:#BCBCBC;
}
#u4953 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:27px;
}
#u4954 {
  position:absolute;
  left:584px;
  top:257px;
  width:62px;
  height:17px;
  font-size:11px;
  color:#BCBCBC;
}
#u4955 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  white-space:nowrap;
}
#u4956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:28px;
}
#u4956 {
  position:absolute;
  left:652px;
  top:250px;
  width:208px;
  height:28px;
  font-size:11px;
  color:#BCBCBC;
  text-align:left;
}
#u4957 {
  position:absolute;
  left:2px;
  top:0px;
  width:204px;
  word-wrap:break-word;
}
#u4958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u4958 {
  position:absolute;
  left:659px;
  top:278px;
  width:200px;
  height:1px;
  color:#BCBCBC;
}
#u4959 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u4960 {
  position:absolute;
  left:748px;
  top:223px;
  width:62px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u4961 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  white-space:nowrap;
}
#u4962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u4962 {
  position:absolute;
  left:824px;
  top:217px;
  width:123px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:left;
}
#u4963 {
  position:absolute;
  left:2px;
  top:8px;
  width:119px;
  word-wrap:break-word;
}
#u4964 {
  position:absolute;
  left:660px;
  top:533px;
  width:153px;
  height:22px;
}
#u4964_input {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#BCBCBC;
}
#u4964_input:disabled {
  color:grayText;
}
#u4965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
}
#u4965 {
  position:absolute;
  left:196px;
  top:580px;
  width:109px;
  height:1px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
}
#u4966 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u4967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:2px;
}
#u4967 {
  position:absolute;
  left:305px;
  top:598px;
  width:153px;
  height:1px;
  font-size:12px;
  color:#BCBCBC;
}
#u4968 {
  position:absolute;
  left:2px;
  top:-8px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
}
#u4969 {
  position:absolute;
  left:314px;
  top:575px;
  width:94px;
  height:23px;
  color:#BCBCBC;
}
#u4970 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u4971 {
  position:absolute;
  left:314px;
  top:532px;
  width:153px;
  height:22px;
}
#u4971_input {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#BCBCBC;
}
#u4971_input:disabled {
  color:grayText;
}
#u4972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u4972 {
  position:absolute;
  left:756px;
  top:427px;
  width:62px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u4973 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  white-space:nowrap;
}
#u4974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u4974 {
  position:absolute;
  left:824px;
  top:420px;
  width:123px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:left;
}
#u4975 {
  position:absolute;
  left:2px;
  top:8px;
  width:119px;
  word-wrap:break-word;
}
#u4976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:20px;
  background:inherit;
  background-color:rgba(160, 231, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u4976 {
  position:absolute;
  left:169px;
  top:680px;
  width:841px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u4977 {
  position:absolute;
  left:2px;
  top:2px;
  width:837px;
  word-wrap:break-word;
}
#u4978 {
  position:absolute;
  left:174px;
  top:714px;
  width:758px;
  height:101px;
}
#u4979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:36px;
}
#u4979 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:36px;
  font-size:10px;
}
#u4980 {
  position:absolute;
  left:2px;
  top:12px;
  width:43px;
  word-wrap:break-word;
}
#u4981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:36px;
}
#u4981 {
  position:absolute;
  left:47px;
  top:0px;
  width:85px;
  height:36px;
  font-size:10px;
}
#u4982 {
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u4983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u4983 {
  position:absolute;
  left:132px;
  top:0px;
  width:107px;
  height:36px;
  font-size:10px;
}
#u4984 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u4985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:36px;
}
#u4985 {
  position:absolute;
  left:239px;
  top:0px;
  width:96px;
  height:36px;
  font-size:10px;
}
#u4986 {
  position:absolute;
  left:2px;
  top:12px;
  width:92px;
  word-wrap:break-word;
}
#u4987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:36px;
}
#u4987 {
  position:absolute;
  left:335px;
  top:0px;
  width:84px;
  height:36px;
  font-size:10px;
}
#u4988 {
  position:absolute;
  left:2px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u4989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:36px;
}
#u4989 {
  position:absolute;
  left:419px;
  top:0px;
  width:84px;
  height:36px;
  font-size:10px;
}
#u4990 {
  position:absolute;
  left:2px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u4991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:36px;
}
#u4991 {
  position:absolute;
  left:503px;
  top:0px;
  width:84px;
  height:36px;
  font-size:10px;
}
#u4992 {
  position:absolute;
  left:2px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u4993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:36px;
}
#u4993 {
  position:absolute;
  left:587px;
  top:0px;
  width:84px;
  height:36px;
  font-size:10px;
}
#u4994 {
  position:absolute;
  left:2px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u4995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:36px;
}
#u4995 {
  position:absolute;
  left:671px;
  top:0px;
  width:82px;
  height:36px;
  font-size:10px;
}
#u4996 {
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u4997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:20px;
}
#u4997 {
  position:absolute;
  left:0px;
  top:36px;
  width:47px;
  height:20px;
  font-size:10px;
}
#u4998 {
  position:absolute;
  left:2px;
  top:4px;
  width:43px;
  word-wrap:break-word;
}
#u4999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u4999 {
  position:absolute;
  left:47px;
  top:36px;
  width:85px;
  height:20px;
  font-size:10px;
}
#u5000 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u5001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:20px;
}
#u5001 {
  position:absolute;
  left:132px;
  top:36px;
  width:107px;
  height:20px;
  font-size:10px;
}
#u5002 {
  position:absolute;
  left:2px;
  top:4px;
  width:103px;
  word-wrap:break-word;
}
#u5003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
}
#u5003 {
  position:absolute;
  left:239px;
  top:36px;
  width:96px;
  height:20px;
  font-size:10px;
}
#u5004 {
  position:absolute;
  left:2px;
  top:4px;
  width:92px;
  word-wrap:break-word;
}
#u5005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u5005 {
  position:absolute;
  left:335px;
  top:36px;
  width:84px;
  height:20px;
  font-size:10px;
}
#u5006 {
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u5007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u5007 {
  position:absolute;
  left:419px;
  top:36px;
  width:84px;
  height:20px;
  font-size:10px;
}
#u5008 {
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u5009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u5009 {
  position:absolute;
  left:503px;
  top:36px;
  width:84px;
  height:20px;
  font-size:10px;
}
#u5010 {
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u5011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u5011 {
  position:absolute;
  left:587px;
  top:36px;
  width:84px;
  height:20px;
  font-size:10px;
}
#u5012 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u5013 {
  position:absolute;
  left:671px;
  top:36px;
  width:82px;
  height:20px;
  font-size:10px;
}
#u5014 {
  position:absolute;
  left:2px;
  top:2px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:20px;
}
#u5015 {
  position:absolute;
  left:0px;
  top:56px;
  width:47px;
  height:20px;
  font-size:10px;
}
#u5016 {
  position:absolute;
  left:2px;
  top:4px;
  width:43px;
  word-wrap:break-word;
}
#u5017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u5017 {
  position:absolute;
  left:47px;
  top:56px;
  width:85px;
  height:20px;
  font-size:10px;
}
#u5018 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:20px;
}
#u5019 {
  position:absolute;
  left:132px;
  top:56px;
  width:107px;
  height:20px;
  font-size:10px;
}
#u5020 {
  position:absolute;
  left:2px;
  top:4px;
  width:103px;
  word-wrap:break-word;
}
#u5021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
}
#u5021 {
  position:absolute;
  left:239px;
  top:56px;
  width:96px;
  height:20px;
  font-size:10px;
}
#u5022 {
  position:absolute;
  left:2px;
  top:2px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u5023 {
  position:absolute;
  left:335px;
  top:56px;
  width:84px;
  height:20px;
  font-size:10px;
}
#u5024 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u5025 {
  position:absolute;
  left:419px;
  top:56px;
  width:84px;
  height:20px;
  font-size:10px;
}
#u5026 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u5027 {
  position:absolute;
  left:503px;
  top:56px;
  width:84px;
  height:20px;
  font-size:10px;
}
#u5028 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u5029 {
  position:absolute;
  left:587px;
  top:56px;
  width:84px;
  height:20px;
  font-size:10px;
}
#u5030 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u5031 {
  position:absolute;
  left:671px;
  top:56px;
  width:82px;
  height:20px;
  font-size:10px;
}
#u5032 {
  position:absolute;
  left:2px;
  top:2px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:20px;
}
#u5033 {
  position:absolute;
  left:0px;
  top:76px;
  width:47px;
  height:20px;
  font-size:10px;
}
#u5034 {
  position:absolute;
  left:2px;
  top:4px;
  width:43px;
  word-wrap:break-word;
}
#u5035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u5035 {
  position:absolute;
  left:47px;
  top:76px;
  width:85px;
  height:20px;
  font-size:10px;
}
#u5036 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:20px;
}
#u5037 {
  position:absolute;
  left:132px;
  top:76px;
  width:107px;
  height:20px;
  font-size:10px;
}
#u5038 {
  position:absolute;
  left:2px;
  top:2px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
}
#u5039 {
  position:absolute;
  left:239px;
  top:76px;
  width:96px;
  height:20px;
  font-size:10px;
}
#u5040 {
  position:absolute;
  left:2px;
  top:2px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u5041 {
  position:absolute;
  left:335px;
  top:76px;
  width:84px;
  height:20px;
  font-size:10px;
}
#u5042 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u5043 {
  position:absolute;
  left:419px;
  top:76px;
  width:84px;
  height:20px;
  font-size:10px;
}
#u5044 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u5045 {
  position:absolute;
  left:503px;
  top:76px;
  width:84px;
  height:20px;
  font-size:10px;
}
#u5046 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u5047 {
  position:absolute;
  left:587px;
  top:76px;
  width:84px;
  height:20px;
  font-size:10px;
}
#u5048 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u5049 {
  position:absolute;
  left:671px;
  top:76px;
  width:82px;
  height:20px;
  font-size:10px;
}
#u5050 {
  position:absolute;
  left:2px;
  top:2px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5051 {
  position:absolute;
  left:179px;
  top:754px;
  width:7px;
  height:16px;
  font-size:10px;
}
#u5052 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5051_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5053 {
  position:absolute;
  left:178px;
  top:790px;
  width:13px;
  height:16px;
  font-size:10px;
  color:#BCBCBC;
}
#u5054 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5053_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:20px;
  background:inherit;
  background-color:rgba(160, 231, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u5055 {
  position:absolute;
  left:175px;
  top:605px;
  width:841px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u5056 {
  position:absolute;
  left:2px;
  top:2px;
  width:837px;
  word-wrap:break-word;
}
#u5057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u5057 {
  position:absolute;
  left:978px;
  top:605px;
  width:32px;
  height:32px;
}
#u5058 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
}
#u5059 {
  position:absolute;
  left:203px;
  top:646px;
  width:52px;
  height:1px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
}
#u5060 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u5061 {
  position:absolute;
  left:321px;
  top:645px;
  width:153px;
  height:22px;
}
#u5061_input {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:22px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#BCBCBC;
}
#u5061_input:disabled {
  color:grayText;
}
#u5062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
}
#u5062 {
  position:absolute;
  left:584px;
  top:642px;
  width:61px;
  height:1px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
}
#u5063 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u5064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:2px;
}
#u5064 {
  position:absolute;
  left:662px;
  top:660px;
  width:153px;
  height:1px;
  font-size:12px;
  color:#BCBCBC;
}
#u5065 {
  position:absolute;
  left:2px;
  top:-8px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#BCBCBC;
}
#u5066 {
  position:absolute;
  left:671px;
  top:643px;
  width:125px;
  height:23px;
  font-size:10px;
  color:#BCBCBC;
}
#u5067 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u5068 {
  position:absolute;
  left:179px;
  top:771px;
  width:7px;
  height:16px;
  font-size:10px;
}
#u5069 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5068_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u5070 {
  position:absolute;
  left:481px;
  top:834px;
  width:140px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u5071 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
