body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1216px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1206px;
  height:159px;
}
#u5813 {
  position:absolute;
  left:10px;
  top:60px;
  width:1206px;
  height:159px;
}
#u5814 {
  position:absolute;
  left:2px;
  top:72px;
  width:1202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5815 {
  position:absolute;
  left:426px;
  top:270px;
  width:140px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5816 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u5817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5817 {
  position:absolute;
  left:636px;
  top:270px;
  width:140px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5818 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u5819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5819 {
  position:absolute;
  left:827px;
  top:30px;
  width:83px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5820 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u5821 {
  position:absolute;
  left:310px;
  top:330px;
  width:550px;
  height:300px;
  overflow:hidden;
  visibility:hidden;
}
#u5821_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:300px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5821_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:289px;
}
#u5822 {
  position:absolute;
  left:29px;
  top:0px;
  width:481px;
  height:289px;
}
#u5823 {
  position:absolute;
  left:2px;
  top:136px;
  width:477px;
  visibility:hidden;
  word-wrap:break-word;
}
