body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:890px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:520px;
}
#u9755 {
  position:absolute;
  left:10px;
  top:160px;
  width:880px;
  height:520px;
}
#u9756 {
  position:absolute;
  left:2px;
  top:252px;
  width:876px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:110px;
}
#u9757 {
  position:absolute;
  left:10px;
  top:20px;
  width:880px;
  height:110px;
}
#u9758 {
  position:absolute;
  left:2px;
  top:47px;
  width:876px;
  visibility:hidden;
  word-wrap:break-word;
}
