body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1216px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1206px;
  height:159px;
}
#u3995 {
  position:absolute;
  left:10px;
  top:60px;
  width:1206px;
  height:159px;
}
#u3996 {
  position:absolute;
  left:2px;
  top:72px;
  width:1202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3997 {
  position:absolute;
  left:630px;
  top:270px;
  width:140px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3998 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u3999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3999 {
  position:absolute;
  left:970px;
  top:30px;
  width:83px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4000 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u4001 {
  position:absolute;
  left:310px;
  top:330px;
  width:550px;
  height:300px;
  overflow:hidden;
  visibility:hidden;
}
#u4001_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:300px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4001_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:289px;
}
#u4002 {
  position:absolute;
  left:29px;
  top:0px;
  width:481px;
  height:289px;
}
#u4003 {
  position:absolute;
  left:2px;
  top:136px;
  width:477px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u4004 {
  position:absolute;
  left:430px;
  top:146px;
  width:13px;
  height:14px;
  font-size:11px;
}
#u4005 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u4006 {
  position:absolute;
  left:10px;
  top:640px;
  width:800px;
  height:500px;
  overflow:hidden;
  visibility:hidden;
}
#u4006_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:500px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4006_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:787px;
  height:131px;
}
#u4007 {
  position:absolute;
  left:3px;
  top:0px;
  width:787px;
  height:131px;
}
#u4008 {
  position:absolute;
  left:2px;
  top:58px;
  width:783px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4009 {
  position:absolute;
  left:482px;
  top:70px;
  width:40px;
  height:20px;
}
#u4010 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u4011 {
  position:absolute;
  left:10px;
  top:160px;
  width:780px;
  height:300px;
  overflow:hidden;
  visibility:hidden;
}
#u4011_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:300px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4011_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:732px;
  height:207px;
}
#u4012 {
  position:absolute;
  left:20px;
  top:0px;
  width:732px;
  height:207px;
}
#u4013 {
  position:absolute;
  left:2px;
  top:96px;
  width:728px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4014 {
  position:absolute;
  left:290px;
  top:230px;
  width:140px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4015 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
