body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1150px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1155px;
  height:45px;
  background:inherit;
  background-color:rgba(51, 204, 255, 0.466666666666667);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0033FF;
}
#u2248 {
  position:absolute;
  left:0px;
  top:25px;
  width:1155px;
  height:45px;
  color:#0033FF;
}
#u2249 {
  position:absolute;
  left:2px;
  top:14px;
  width:1151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:880px;
  background:inherit;
  background-color:rgba(51, 204, 255, 0.466666666666667);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2250 {
  position:absolute;
  left:0px;
  top:70px;
  width:130px;
  height:880px;
}
#u2251 {
  position:absolute;
  left:2px;
  top:432px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2252 {
  position:absolute;
  left:7px;
  top:39px;
  width:200px;
  height:21px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2253 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u2254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u2254 {
  position:absolute;
  left:1008px;
  top:37px;
  width:20px;
  height:22px;
}
#u2255 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u2256 {
  position:absolute;
  left:1033px;
  top:43px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u2257 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u2258 {
  position:absolute;
  left:1109px;
  top:43px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u2259 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u2260 {
  position:absolute;
  left:1094px;
  top:38px;
  width:15px;
  height:17px;
  color:#FFFFFF;
}
#u2261 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2262_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1018px;
  height:5px;
}
#u2262 {
  position:absolute;
  left:140px;
  top:101px;
  width:1015px;
  height:2px;
}
#u2263 {
  position:absolute;
  left:2px;
  top:-7px;
  width:1011px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u2264 {
  position:absolute;
  left:992px;
  top:70px;
  width:25px;
  height:22px;
}
#u2265 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2266 {
  position:absolute;
  left:1017px;
  top:70px;
  width:43px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2267 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u2268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2268 {
  position:absolute;
  left:1100px;
  top:70px;
  width:43px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2269 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u2270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:21px;
}
#u2270 {
  position:absolute;
  left:1081px;
  top:70px;
  width:19px;
  height:21px;
}
#u2271 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:22px;
}
#u2272 {
  position:absolute;
  left:14px;
  top:111px;
  width:21px;
  height:22px;
}
#u2273 {
  position:absolute;
  left:2px;
  top:3px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2274 {
  position:absolute;
  left:45px;
  top:111px;
  width:63px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2275 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u2276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2276 {
  position:absolute;
  left:0px;
  top:156px;
  width:127px;
  height:25px;
  font-size:14px;
  color:#FFFFFF;
}
#u2277 {
  position:absolute;
  left:2px;
  top:4px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2278 {
  position:absolute;
  left:-5px;
  top:137px;
  width:137px;
  height:85px;
}
#u2278_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2279 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
  color:#FFFFFF;
}
#u2280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u2280 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u2280_img.selected {
}
#u2280.selected {
}
#u2281 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2282 {
  position:absolute;
  left:22px;
  top:0px;
  width:33px;
  height:20px;
}
#u2283 {
  position:absolute;
  left:3px;
  top:2px;
  width:28px;
  white-space:nowrap;
}
#u2279_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2284 {
  position:absolute;
  left:20px;
  top:20px;
  width:88px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u2285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2285 {
  position:absolute;
  left:22px;
  top:0px;
  width:66px;
  height:20px;
}
#u2286 {
  position:absolute;
  left:3px;
  top:2px;
  width:61px;
  white-space:nowrap;
}
#u2287 {
  position:absolute;
  left:20px;
  top:40px;
  width:112px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u2288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2288 {
  position:absolute;
  left:22px;
  top:0px;
  width:90px;
  height:20px;
}
#u2289 {
  position:absolute;
  left:3px;
  top:2px;
  width:85px;
  white-space:nowrap;
}
#u2290 {
  position:absolute;
  left:20px;
  top:60px;
  width:112px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u2291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2291 {
  position:absolute;
  left:22px;
  top:0px;
  width:90px;
  height:20px;
}
#u2292 {
  position:absolute;
  left:3px;
  top:2px;
  width:85px;
  white-space:nowrap;
}
#u2293 {
  position:absolute;
  left:8px;
  top:217px;
  width:124px;
  height:25px;
}
#u2293_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2294 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:20px;
  color:#FFFFFF;
}
#u2295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2295 {
  position:absolute;
  left:22px;
  top:0px;
  width:97px;
  height:20px;
}
#u2296 {
  position:absolute;
  left:3px;
  top:2px;
  width:94px;
  white-space:nowrap;
}
#u2297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:27px;
}
#u2297 {
  position:absolute;
  left:142px;
  top:116px;
  width:57px;
  height:17px;
  color:#000000;
}
#u2298 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:27px;
}
#u2299 {
  position:absolute;
  left:192px;
  top:163px;
  width:62px;
  height:17px;
  font-size:11px;
  color:#000000;
}
#u2300 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  white-space:nowrap;
}
#u2301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(188, 188, 188, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(188, 188, 188, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(188, 188, 188, 0.349019607843137);
  font-size:11px;
  color:#CCCCCC;
  text-align:left;
}
#u2301 {
  position:absolute;
  left:260px;
  top:156px;
  width:250px;
  height:28px;
  font-size:11px;
  color:#CCCCCC;
  text-align:left;
}
#u2302 {
  position:absolute;
  left:2px;
  top:0px;
  width:246px;
  word-wrap:break-word;
}
#u2303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:26px;
}
#u2303 {
  position:absolute;
  left:511px;
  top:158px;
  width:20px;
  height:26px;
  font-size:11px;
}
#u2304 {
  position:absolute;
  left:2px;
  top:5px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#000000;
}
#u2305 {
  position:absolute;
  left:575px;
  top:199px;
  width:62px;
  height:17px;
  font-size:11px;
  color:#000000;
}
#u2306 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  white-space:nowrap;
}
#u2307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
  text-align:left;
}
#u2307 {
  position:absolute;
  left:650px;
  top:196px;
  width:250px;
  height:30px;
  font-size:11px;
  color:#CCCCCC;
  text-align:left;
}
#u2308 {
  position:absolute;
  left:2px;
  top:8px;
  width:246px;
  word-wrap:break-word;
}
#u2309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:26px;
}
#u2309 {
  position:absolute;
  left:901px;
  top:193px;
  width:20px;
  height:26px;
  font-size:11px;
}
#u2310 {
  position:absolute;
  left:2px;
  top:5px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#000000;
}
#u2311 {
  position:absolute;
  left:575px;
  top:163px;
  width:62px;
  height:17px;
  font-size:11px;
  color:#000000;
}
#u2312 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  white-space:nowrap;
}
#u2313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
  text-align:left;
}
#u2313 {
  position:absolute;
  left:650px;
  top:156px;
  width:250px;
  height:30px;
  font-size:11px;
  color:#CCCCCC;
  text-align:left;
}
#u2314 {
  position:absolute;
  left:2px;
  top:8px;
  width:246px;
  word-wrap:break-word;
}
#u2315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:26px;
}
#u2315 {
  position:absolute;
  left:901px;
  top:153px;
  width:20px;
  height:26px;
  font-size:11px;
}
#u2316 {
  position:absolute;
  left:2px;
  top:5px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#000000;
}
#u2317 {
  position:absolute;
  left:192px;
  top:243px;
  width:62px;
  height:17px;
  font-size:11px;
  color:#000000;
}
#u2318 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  white-space:nowrap;
}
#u2319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:26px;
}
#u2319 {
  position:absolute;
  left:511px;
  top:238px;
  width:20px;
  height:26px;
  font-size:11px;
}
#u2320 {
  position:absolute;
  left:2px;
  top:5px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#000000;
}
#u2321 {
  position:absolute;
  left:192px;
  top:329px;
  width:62px;
  height:17px;
  font-size:11px;
  color:#000000;
}
#u2322 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  white-space:nowrap;
}
#u2323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:27px;
}
#u2323 {
  position:absolute;
  left:192px;
  top:199px;
  width:62px;
  height:17px;
  font-size:11px;
  color:#000000;
}
#u2324 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  white-space:nowrap;
}
#u2325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
  text-align:left;
}
#u2325 {
  position:absolute;
  left:260px;
  top:196px;
  width:250px;
  height:30px;
  font-size:11px;
  color:#CCCCCC;
  text-align:left;
}
#u2326 {
  position:absolute;
  left:2px;
  top:8px;
  width:246px;
  word-wrap:break-word;
}
#u2327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:26px;
}
#u2327 {
  position:absolute;
  left:511px;
  top:200px;
  width:20px;
  height:26px;
  font-size:11px;
}
#u2328 {
  position:absolute;
  left:2px;
  top:5px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:26px;
}
#u2329 {
  position:absolute;
  left:511px;
  top:325px;
  width:20px;
  height:26px;
  font-size:11px;
}
#u2330 {
  position:absolute;
  left:2px;
  top:5px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#000000;
}
#u2331 {
  position:absolute;
  left:575px;
  top:286px;
  width:73px;
  height:17px;
  font-size:11px;
  color:#000000;
}
#u2332 {
  position:absolute;
  left:2px;
  top:2px;
  width:69px;
  white-space:nowrap;
}
#u2333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
  text-align:left;
}
#u2333 {
  position:absolute;
  left:650px;
  top:281px;
  width:250px;
  height:30px;
  font-size:11px;
  color:#CCCCCC;
  text-align:left;
}
#u2334 {
  position:absolute;
  left:2px;
  top:8px;
  width:246px;
  word-wrap:break-word;
}
#u2335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:26px;
}
#u2335 {
  position:absolute;
  left:903px;
  top:285px;
  width:20px;
  height:26px;
  font-size:11px;
}
#u2336 {
  position:absolute;
  left:2px;
  top:5px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2337 {
  position:absolute;
  left:882px;
  top:288px;
  width:16px;
  height:16px;
  font-size:11px;
}
#u2338 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2339_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u2339 {
  position:absolute;
  left:602px;
  top:405px;
  width:140px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u2340 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u2341_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 204, 255, 0.466666666666667);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2341 {
  position:absolute;
  left:372px;
  top:405px;
  width:140px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2342 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u2343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u2343 {
  position:absolute;
  left:14px;
  top:79px;
  width:26px;
  height:22px;
}
#u2344 {
  position:absolute;
  left:2px;
  top:3px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2345_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2345 {
  position:absolute;
  left:45px;
  top:79px;
  width:63px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2346 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u2347_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2347 {
  position:absolute;
  left:140px;
  top:78px;
  width:208px;
  height:20px;
}
#u2348 {
  position:absolute;
  left:2px;
  top:2px;
  width:209px;
  white-space:nowrap;
}
#u2349_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#000000;
}
#u2349 {
  position:absolute;
  left:192px;
  top:285px;
  width:62px;
  height:17px;
  font-size:11px;
  color:#000000;
}
#u2350 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  white-space:nowrap;
}
#u2351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
  text-align:left;
}
#u2351 {
  position:absolute;
  left:260px;
  top:283px;
  width:250px;
  height:30px;
  font-size:11px;
  color:#CCCCCC;
  text-align:left;
}
#u2352 {
  position:absolute;
  left:2px;
  top:8px;
  width:246px;
  word-wrap:break-word;
}
#u2353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:26px;
}
#u2353 {
  position:absolute;
  left:511px;
  top:285px;
  width:20px;
  height:26px;
  font-size:11px;
}
#u2354 {
  position:absolute;
  left:2px;
  top:5px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2355_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
  text-align:left;
}
#u2355 {
  position:absolute;
  left:261px;
  top:323px;
  width:250px;
  height:30px;
  font-size:11px;
  color:#CCCCCC;
  text-align:left;
}
#u2356 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2357_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
  text-align:left;
}
#u2357 {
  position:absolute;
  left:261px;
  top:237px;
  width:250px;
  height:30px;
  font-size:11px;
  color:#CCCCCC;
  text-align:left;
}
#u2358 {
  position:absolute;
  left:2px;
  top:8px;
  width:246px;
  word-wrap:break-word;
}
#u2359_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#000000;
}
#u2359 {
  position:absolute;
  left:575px;
  top:242px;
  width:50px;
  height:17px;
  font-size:11px;
  color:#000000;
}
#u2360 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  white-space:nowrap;
}
#u2361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:26px;
}
#u2361 {
  position:absolute;
  left:901px;
  top:237px;
  width:20px;
  height:26px;
  font-size:11px;
}
#u2362 {
  position:absolute;
  left:2px;
  top:5px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2363_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
  text-align:left;
}
#u2363 {
  position:absolute;
  left:651px;
  top:236px;
  width:250px;
  height:30px;
  font-size:11px;
  color:#CCCCCC;
  text-align:left;
}
#u2364 {
  position:absolute;
  left:2px;
  top:8px;
  width:246px;
  word-wrap:break-word;
}
